services:
  postgres:
    image: postgres:16
    container_name: products_api_postgres
    environment:
      POSTGRES_DB: products_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - products_api_pgdata:/var/lib/postgresql/data

volumes:
  products_api_pgdata:
